[Unit]
Description=Raspberry Pi System Sensors
Documentation=https://www.github.com/garethhowell/system_sensors

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/system_sensors.py /etc/system_sensors/settings.yaml

[Install]
WantedBy=multi-user.target
